# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Docker/Compose
*.env
.env.*
*.log
# si mapeas carpetas locales como volúmenes, ignóralas aquí

# IDEs/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
